name: v7-sqlite
on:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [22.x, 24.x]
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10.18.x

      - uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-node-${{ matrix.node }}-v7-sqlite-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install dependencies
        run: pnpm i --no-frozen-lockfile

      - name: Build prisma-ts-select
        working-directory: ./packages/prisma-ts-select
        run: pnpm exec tsup

      - name: Install dependencies (v7-sqlite)
        working-directory: ./packages/usage-v7-sqlite
        run: pnpm i --no-frozen-lockfile

      - name: Generate Prisma client
        working-directory: ./packages/usage-v7-sqlite
        run: pnpm exec prisma generate

      - name: Reset database
        working-directory: ./packages/usage-v7-sqlite
        run: pnpm p:r

      - name: TypeScript check
        working-directory: ./packages/usage-v7-sqlite
        run: pnpm test:ts

      - name: Run tests
        working-directory: ./packages/usage-v7-sqlite
        run: pnpm test
